.gripscroll {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
}
.gripscroll .bar {
  position: absolute;
}
.gripscroll .bar.x {
  bottom: 5px;
  left: 5px;
  right: 18px;
  height: 10px;
}
.gripscroll .bar.y {
  top: 5px;
  right: 5px;
  bottom: 18px;
  width: 10px;
}
